@import "~@openfonts/rammetto-one_latin/index.css";
@import "~@openfonts/overlock_latin/index.css";

.splash {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: purple;
    font-family: 'Overlock';

    h1 {
        font-family: 'Rammetto One';
        font-size: 6em;
    }
    p {
        font-size: 2em;
        color: white;
    }
}